In [105]:
import os
import sys

In [106]:
sys.path.append(os.path.abspath(os.path.join('Data')))
sys.path.append(os.path.abspath(os.path.join('Scripts_')))
sys.path.insert(0,'../Scripts_/')
from Convertions import CleanTelecomData

In [107]:
import pandas as pd
import numpy as np

In [109]:
df = pd.read_csv('../Data/clean_data_source(CSV).csv')

In [110]:
Cleaned=CleanTelecomData(df)

Automation in Action...!!!

In [111]:
Cleaned.get_info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150001 entries, 0 to 150000
Data columns (total 45 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   bearer_id                       150001 non-null  object
 1   start                           150001 non-null  object
 2   start_ms                        150001 non-null  float64
 3   end                             150001 non-null  object
 4   end_ms                          150001 non-null  float64
 5   dur._(ms)                       150001 non-null  float64
 6   imsi                            150001 non-null  object
 7   msisdn/number                   150001 non-null  object
 8   imei                            150001 non-null  object
 9   last_location_name              150001 non-null  object
 10  avg_rtt_dl_(ms)                 150001 non-null  float64
 11  avg_rtt_ul_(ms)                 150001 non-null  float64
 12  avg_bearer_tp_dl_(kbps)         150001 non-null  float64
 13  avg_bearer_tp_ul_(kbps)         150001 non-null  float64
 14  dl_tp_<_50_kbps_(%)             150001 non-null  float64
 15  50_kbps_<_dl_tp_<_250_kbps_(%)  150001 non-null  float64
 16  250_kbps_<_dl_tp_<_1_mbps_(%)   150001 non-null  float64
 17  dl_tp_>_1_mbps_(%)              150001 non-null  float64
 18  ul_tp_<_10_kbps_(%)             150001 non-null  float64
 19  10_kbps_<_ul_tp_<_50_kbps_(%)   150001 non-null  float64
 20  50_kbps_<_ul_tp_<_300_kbps_(%)  150001 non-null  float64
 21  ul_tp_>_300_kbps_(%)            150001 non-null  float64
 22  activity_duration_dl_(ms)       150001 non-null  float64
 23  activity_duration_ul_(ms)       150001 non-null  float64
 24  dur._(ms).1                     150001 non-null  float64
 25  handset_manufacturer            150001 non-null  object
 26  handset_type                    150001 non-null  object
 27  nb_of_sec_with_vol_dl_<_6250b   150001 non-null  float64
 28  nb_of_sec_with_vol_ul_<_1250b   150001 non-null  float64
 29  social_media_dl_(bytes)         150001 non-null  float64
 30  social_media_ul_(bytes)         150001 non-null  float64
 31  google_dl_(bytes)               150001 non-null  float64
 32  google_ul_(bytes)               150001 non-null  float64
 33  email_dl_(bytes)                150001 non-null  float64
 34  email_ul_(bytes)                150001 non-null  float64
 35  youtube_dl_(bytes)              150001 non-null  float64
 36  youtube_ul_(bytes)              150001 non-null  float64
 37  netflix_dl_(bytes)              150001 non-null  float64
 38  netflix_ul_(bytes)              150001 non-null  float64
 39  gaming_dl_(bytes)               150001 non-null  float64
 40  gaming_ul_(bytes)               150001 non-null  float64
 41  other_dl_(bytes)                150001 non-null  float64
 42  other_ul_(bytes)                150001 non-null  float64
 43  total_ul_(bytes)                150000 non-null  float64
 44  total_dl_(bytes)                150000 non-null  float64
dtypes: float64(36), object(9)
memory usage: 51.5+ MB

In [112]:
cleann= CleanTelecomData(Cleaned.get_info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150001 entries, 0 to 150000
Data columns (total 45 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   bearer_id                       150001 non-null  object
 1   start                           150001 non-null  object
 2   start_ms                        150001 non-null  float64
 3   end                             150001 non-null  object
 4   end_ms                          150001 non-null  float64
 5   dur._(ms)                       150001 non-null  float64
 6   imsi                            150001 non-null  object
 7   msisdn/number                   150001 non-null  object
 8   imei                            150001 non-null  object
 9   last_location_name              150001 non-null  object
 10  avg_rtt_dl_(ms)                 150001 non-null  float64
 11  avg_rtt_ul_(ms)                 150001 non-null  float64
 12  avg_bearer_tp_dl_(kbps)         150001 non-null  float64
 13  avg_bearer_tp_ul_(kbps)         150001 non-null  float64
 14  dl_tp_<_50_kbps_(%)             150001 non-null  float64
 15  50_kbps_<_dl_tp_<_250_kbps_(%)  150001 non-null  float64
 16  250_kbps_<_dl_tp_<_1_mbps_(%)   150001 non-null  float64
 17  dl_tp_>_1_mbps_(%)              150001 non-null  float64
 18  ul_tp_<_10_kbps_(%)             150001 non-null  float64
 19  10_kbps_<_ul_tp_<_50_kbps_(%)   150001 non-null  float64
 20  50_kbps_<_ul_tp_<_300_kbps_(%)  150001 non-null  float64
 21  ul_tp_>_300_kbps_(%)            150001 non-null  float64
 22  activity_duration_dl_(ms)       150001 non-null  float64
 23  activity_duration_ul_(ms)       150001 non-null  float64
 24  dur._(ms).1                     150001 non-null  float64
 25  handset_manufacturer            150001 non-null  object
 26  handset_type                    150001 non-null  object
 27  nb_of_sec_with_vol_dl_<_6250b   150001 non-null  float64
 28  nb_of_sec_with_vol_ul_<_1250b   150001 non-null  float64
 29  social_media_dl_(bytes)         150001 non-null  float64
 30  social_media_ul_(bytes)         150001 non-null  float64
 31  google_dl_(bytes)               150001 non-null  float64
 32  google_ul_(bytes)               150001 non-null  float64
 33  email_dl_(bytes)                150001 non-null  float64
 34  email_ul_(bytes)                150001 non-null  float64
 35  youtube_dl_(bytes)              150001 non-null  float64
 36  youtube_ul_(bytes)              150001 non-null  float64
 37  netflix_dl_(bytes)              150001 non-null  float64
 38  netflix_ul_(bytes)              150001 non-null  float64
 39  gaming_dl_(bytes)               150001 non-null  float64
 40  gaming_ul_(bytes)               150001 non-null  float64
 41  other_dl_(bytes)                150001 non-null  float64
 42  other_ul_(bytes)                150001 non-null  float64
 43  total_ul_(bytes)                150000 non-null  float64
 44  total_dl_(bytes)                150000 non-null  float64
dtypes: float64(36), object(9)
memory usage: 51.5+ MB
Automation in Action...!!!

In [113]:
from Convertions import CleanTelecomData

In [114]:
cleann=Cleaned.bytes_to_megabytes(['total_dl_(bytes)','total_ul_(bytes)','youtube_ul_(bytes)','youtube_dl_(bytes)','google_dl_(bytes)','google_ul_(bytes)','netflix_dl_(bytes)','netflix_ul_(bytes)','gaming_dl_(bytes)'])

In [115]:
cleann.head()

,bearer_id,start,start_ms,end,end_ms,dur._(ms),imsi,msisdn/number,imei,last_location_name,...,youtube_dl_(MegaBytes),youtube_ul_(MegaBytes),netflix_dl_(MegaBytes),netflix_ul_(MegaBytes),gaming_dl_(MegaBytes),gaming_ul_(bytes),other_dl_(bytes),other_ul_(bytes),total_ul_(MegaBytes),total_dl_(MegaBytes)
0,13114483460844900352,2019-04-04 12:01:18,770.0,2019-04-25 14:35:31,662.0,1823652.0,208201448079117.0,33664962239.0,35521209507511.0,9164566995485190,...,15.854611,2.501332,8.198936,9.656251,278.082303,14344150.0,171744450.0,8814393.0,36.749741,308.879636
1,13114483482878900224,2019-04-09 13:04:04,235.0,2019-04-25 08:15:48,606.0,1365104.0,208201909211140.0,33681854413.0,35794009006359.0,L77566A,...,20.247395,19.111729,18.338413,17.227132,608.750074,1170709.0,526904238.0,15055145.0,53.800391,653.384965
2,13114483484080500736,2019-04-09 17:42:11,1.0,2019-04-25 11:58:13,652.0,1361762.0,208200314458056.0,33760627129.0,35281510359387.0,D42335A,...,19.725661,14.699576,17.587794,6.163408,229.584621,395630.0,410692588.0,4215763.0,27.883638,279.807335
3,13114483485442799616,2019-04-10 00:31:25,486.0,2019-04-25 07:36:35,171.0,1321509.0,208201402342131.0,33750343200.0,35356610164913.0,T21824A,...,21.388122,15.146643,13.994646,1.097942,799.538153,10849722.0,749039933.0,12797283.0,43.324218,846.028530
4,13114483499480700928,2019-04-12 20:10:23,565.0,2019-04-25 10:40:32,954.0,1089009.0,208201401415120.0,33699795932.0,35407009745539.0,D88865A,...,15.259380,18.962873,17.124581,0.415218,527.707248,3529801.0,550709500.0,13910322.0,38.542814,569.138589

### Task 1.1

###### Number of xDR sessions

In [118]:
xDR_sessions = cleann.groupby('msisdn/number').agg({'bearer_id': 'count'})
xDR_sessions = xDR_sessions.rename(columns= {'bearer_id': 'xDR_sessions'})
xDR_sessions.sort_values(by=['xDR_sessions'], ascending = False).head(10)

                    xDR_sessions
msisdn/number
109.79570605376027            97
109.79570605376028            39
33626320676.0                 18
33625779332.0                 17
33614892860.0                 16
33760536639.0                 14
33675877202.0                 13
33667163239.0                 13
33603127838.0                 12
33659725664.0                 12

In [119]:
xDR_sessions.describe()

        xDR_sessions
count  117287.000000
mean        1.278923
std         0.710417
min         1.000000
25%         1.000000
50%         1.000000
75%         1.000000
max        97.000000

##### Session duration

In [125]:
total_data_df = cleann[['msisdn/number','total_ul_(MegaBytes)','total_dl_(MegaBytes)']].copy()
total_data_df = total_data_df.groupby('msisdn/number').sum()
total_data_df['total_data(MegaBytes)'] = total_data_df['total_ul_(MegaBytes)'] + total_data_df['total_dl_(MegaBytes)']
total_data_df.sort_values(by=['total_data(MegaBytes)'], ascending = False).head(10)

,total_ul_(MegaBytes),total_dl_(MegaBytes),total_data(MegaBytes)
msisdn/number,,,
109.79570605376027,4003.449404,41323.599767,45327.049171
109.79570605376028,1656.658049,16637.013482,18293.671531
33625779332.0,729.577380,7770.043342,8499.620722
33760536639.0,656.193062,7332.347986,7988.541048
33626320676.0,669.650721,7301.516540,7971.167261
33614892860.0,633.476463,7328.221743,7961.698206
33666464084.0,405.060976,6903.439962,7308.500938
33760413819.0,521.518890,6610.851624,7132.370514
33675877202.0,493.381560,6316.202977,6809.584537
33698792269.0,530.343105,6010.556021,6540.899126